* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.electronicParent {
    width: 100%;
    height: 70vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;

}

.electronic {
    width: 100%;
    height: 8vh;
    background-color: #FF550C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px;
    font-size: 14px;
}

.card-title {
    text-align: left;
}
.previousSale {
    text-decoration: line-through;
}


@media (max-width: 768px) {
    .electronicParent{
       display: none;
    }
}