* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.flashParent {
    width: 100%;
    height: 125vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flash {
    width: 100%;
    height: 8vh;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px;
}

.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
}

.card-body {
    padding: 20px;
}

.card-title {
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    color: #666;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    /* For screens smaller than 768px */
    .flashParent {
        margin-top: 10%;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
        background-color: yellow;
        justify-content: center;
        align-items: center;
        color: #333;
    }
    .card {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
   
   
}