* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.homedealParent {
    width: 100%;
    height: 70vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;

}

.homedeal {
    width: 100%;
    height: 8vh;
    background-color: #FF550C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px;
    font-size: 14px;
}

.homedealText {
    width: 100%;
    text-align: center;
}

.dealImage {
    width: 100%;
    height: 35vh;

}


@media (max-width: 768px) {
    .homedealParent{
       display: none;
    }
}