* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    width: 20px;
    height: auto;
}

.jumiaImage img {
    width: 200px;
    height: auto;
}

.Footparent {
    background-color: #313133;
    width: 100%;
    height: 40vh;
    color: #e2dfdf;
}

.Footsecondparent {
    font-display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 10px;
}