* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  background-image: url("./Images/jumia1 (1).gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
}

a{
  text-decoration: none;
  color: #333;
}